{% extends "base.html" %}

{% block content %}
{% load static%}

<main>
<section id="hero-img">
  <div class="lead-message-container">
    <div class="lead-message-inner-container">
      <h2 class="lead-message">Travel Reviews</h2>
      <p class="lead-message">Share Your Holiday Experience</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center lead-btns">
         <button type="button" class="btn btn-register btn-primary btn-lg px-4 gap-3 register-btn  lead-register-btn">Register</button>
         <button type="button" class="btn btn-outline-secondary btn-lg px-4 login-btn">Log In</button>
      </div>
    </div>
  </div>
</section>

<section id="articles">
  <div class="col-12 mt-3 justify-content-center justify-content-lg-start">
    <div class="row justify-content-center justify-content-lg-start">
      {%for article in article_list %}
        <div class="card md-4 m-4 cover" style="width: 18rem;">
          {% if 'placeholder' in article.article_image.url %}
            <img class="card-img-top" src="{% static 'images/default.jpg'%}" alt="Card image">
          {% else %}
            <img class="card-img-top" src="{{ article.article_image.url}}" alt="Card image">
          {% endif %}
          <div class="card-body container text-center">
            {% if article.category == 0%}
              <p class="category-tag beach">Beach</p>
            {% elif article.category == 1 %}
              <p class="category-tag history">History</p>
            {% else %}
              <p class="category-tag city">City</p>
            {% endif %}
            <h5 class="card-title">{{article.title}}</h5>
            <p class="card-text text-start">{{article.description}}</p>
            <a href="#" class="btn btn-explore btn-primary">Explore</a>
          </div>
        </div>
        <br>
      {% endfor%}
    </div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link next"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

</section>


</main>
{% endblock %}
