{% extends "base.html" %}

{% block content %}
{% load static%}

<main>
<section id="hero-img">
  <div class="lead-message-container">
    <div class="lead-message-inner-container">
      <h2 class="lead-message">Travel Reviews</h2>
      <p class="lead-message">Share Your Holiday Experience</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center lead-btns">
         <button type="button" class="btn btn-primary btn-lg px-4 gap-3 register-btn  lead-register-btn">Register</button>
         <button type="button" class="btn btn-outline-secondary btn-lg px-4 login-btn">Log In</button>
      </div>
    </div>
  </div>
</section>

<section id="articles">
  {%for article in article_list %}
    <h2>{{article.title}}</h2>
    <p>{{article.category}}</p>
    <p>{{article.content}}</p>
  {% endfor%}
</section>

</main>
{% endblock %}
